<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Visit Details</string>
		<key>type</key>
		<string>group</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tab_2_section_1</string>
		<key>title</key>
		<string>SCHEDULE</string>
		<key>type</key>
		<string>section</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>scheduledstart</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>DateTime</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>format</key>
			<string>DateAndTime</string>
			<key>requiredLevel</key>
			<string>ApplicationRequired</string>
			<key>userLocLabel</key>
			<string>Start Date</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>7</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>userLocLabel</key>
		<string>Start Date</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>scheduledend</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>DateTime</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>format</key>
			<string>DateAndTime</string>
			<key>requiredLevel</key>
			<string>ApplicationRequired</string>
			<key>userLocLabel</key>
			<string>End of visit</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>7</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>userLocLabel</key>
		<string>Due Date</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string></string>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>ownerid</string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Owner</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>SystemRequired</string>
			<key>userLocLabel</key>
			<string>Owner</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>3</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>oui</string>
			<key>tablesLiees</key>
			<dict>
				<key>systemuser</key>
				<dict>
					<key>pk</key>
					<string>systemuserid</string>
					<key>primaryField</key>
					<string>fullname</string>
				</dict>
				<key>team</key>
				<dict>
					<key>pk</key>
					<string>teamid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
			</dict>
		</dict>
		<key>userLocLabel</key>
		<string>Owner</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string></string>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>regardingobjectid</string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>ApplicationRequired</string>
			<key>userLocLabel</key>
			<string>Account</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>3</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>oui</string>
			<key>tablesLiees</key>
			<dict>
				<key>account</key>
				<dict>
					<key>pk</key>
					<string>accountid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>bookableresourcebooking</key>
				<dict>
					<key>pk</key>
					<string>bookableresourcebookingid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>bookableresourcebookingheader</key>
				<dict>
					<key>pk</key>
					<string>bookableresourcebookingheaderid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>bulkoperation</key>
				<dict>
					<key>pk</key>
					<string>activityid</string>
					<key>primaryField</key>
					<string>subject</string>
				</dict>
				<key>campaign</key>
				<dict>
					<key>pk</key>
					<string>campaignid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>campaignactivity</key>
				<dict>
					<key>pk</key>
					<string>activityid</string>
					<key>primaryField</key>
					<string>subject</string>
				</dict>
				<key>contact</key>
				<dict>
					<key>pk</key>
					<string>contactid</string>
					<key>primaryField</key>
					<string>fullname</string>
				</dict>
				<key>contract</key>
				<dict>
					<key>pk</key>
					<string>contractid</string>
					<key>primaryField</key>
					<string>title</string>
				</dict>
				<key>entitlement</key>
				<dict>
					<key>pk</key>
					<string>entitlementid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>entitlementtemplate</key>
				<dict>
					<key>pk</key>
					<string>entitlementtemplateid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>incident</key>
				<dict>
					<key>pk</key>
					<string>incidentid</string>
					<key>primaryField</key>
					<string>title</string>
				</dict>
				<key>invoice</key>
				<dict>
					<key>pk</key>
					<string>invoiceid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>knowledgearticle</key>
				<dict>
					<key>pk</key>
					<string>knowledgearticleid</string>
					<key>primaryField</key>
					<string>title</string>
				</dict>
				<key>knowledgebaserecord</key>
				<dict>
					<key>pk</key>
					<string>knowledgebaserecordid</string>
					<key>primaryField</key>
					<string>title</string>
				</dict>
				<key>lead</key>
				<dict>
					<key>pk</key>
					<string>leadid</string>
					<key>primaryField</key>
					<string>fullname</string>
				</dict>
				<key>msdyn_postalbum</key>
				<dict>
					<key>pk</key>
					<string>msdyn_postalbumid</string>
					<key>primaryField</key>
					<string>msdyn_name</string>
				</dict>
				<key>nov_invoicediscount</key>
				<dict>
					<key>pk</key>
					<string>nov_invoicediscountid</string>
					<key>primaryField</key>
					<string>nov_name</string>
				</dict>
				<key>opportunity</key>
				<dict>
					<key>pk</key>
					<string>opportunityid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>quote</key>
				<dict>
					<key>pk</key>
					<string>quoteid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
				<key>salesorder</key>
				<dict>
					<key>pk</key>
					<string>salesorderid</string>
					<key>primaryField</key>
					<string>name</string>
				</dict>
			</dict>
		</dict>
		<key>userLocLabel</key>
		<string>Account</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string>false</string>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>new_maincontactvisited</string>
		<key>defaultViewId</key>
		<string>A2D479C5-53E3-4C69-ADDD-802327E67A0D</string>
		<key>dependentAttributeName</key>
		<string>nov_visit.regardingobjectid</string>
		<key>dependentAttributeType</key>
		<string>account</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>Recommended</string>
			<key>userLocLabel</key>
			<string>Main Contact Visited</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>contactid</string>
			<key>primaryField</key>
			<string>fullname</string>
			<key>tableLiee</key>
			<string>contact</string>
		</dict>
		<key>userLocLabel</key>
		<string>Main Contact Visited</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string>false</string>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>nov_accompaniedby</string>
		<key>defaultViewId</key>
		<string>E88CA999-0B16-4AE9-B6A9-9EDC840D42D8</string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>Accompanied by</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>systemuserid</string>
			<key>primaryField</key>
			<string>fullname</string>
			<key>tableLiee</key>
			<string>systemuser</string>
		</dict>
		<key>userLocLabel</key>
		<string>Accompanied by</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string>3</string>
		<key>dataFieldName</key>
		<string>description</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Memo</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>Description</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>5</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>userLocLabel</key>
		<string>Description</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tab_4_section_3</string>
		<key>title</key>
		<string>VISIT GOALS</string>
		<key>type</key>
		<string>section</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string>false</string>
		<key>colspan</key>
		<string>2</string>
		<key>dataFieldName</key>
		<string>nov_mainvisitgoal</string>
		<key>defaultViewId</key>
		<string>4B83FCBF-A763-41AE-9A82-2DD2980826FE</string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>Recommended</string>
			<key>userLocLabel</key>
			<string>Visit goal 1</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>nov_visitgoalscategoryid</string>
			<key>primaryField</key>
			<string>nov_goal</string>
			<key>tableLiee</key>
			<string>nov_visitgoalscategory</string>
		</dict>
		<key>userLocLabel</key>
		<string>Visit Goal 1</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_vg1achieved</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Boolean</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>VG 1 Achieved</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>21</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>0</key>
			<string>No</string>
			<key>1</key>
			<string>Yes</string>
		</dict>
		<key>userLocLabel</key>
		<string>VG 1 Achieved</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string>false</string>
		<key>colspan</key>
		<string>2</string>
		<key>dataFieldName</key>
		<string>nov_visitgoal2</string>
		<key>defaultViewId</key>
		<string>4B83FCBF-A763-41AE-9A82-2DD2980826FE</string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>Recommended</string>
			<key>userLocLabel</key>
			<string>Visit Goal 2</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>nov_visitgoalscategoryid</string>
			<key>primaryField</key>
			<string>nov_goal</string>
			<key>tableLiee</key>
			<string>nov_visitgoalscategory</string>
		</dict>
		<key>userLocLabel</key>
		<string>Visit Goal 2</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_vg2achieved</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Boolean</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>VG2 Achieved</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>21</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>0</key>
			<string>No</string>
			<key>1</key>
			<string>Yes</string>
		</dict>
		<key>userLocLabel</key>
		<string>VG2 Achieved</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string>false</string>
		<key>colspan</key>
		<string>2</string>
		<key>dataFieldName</key>
		<string>nov_visitgoal3</string>
		<key>defaultViewId</key>
		<string>4B83FCBF-A763-41AE-9A82-2DD2980826FE</string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>Recommended</string>
			<key>userLocLabel</key>
			<string>Visit Goal 3</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>nov_visitgoalscategoryid</string>
			<key>primaryField</key>
			<string>nov_goal</string>
			<key>tableLiee</key>
			<string>nov_visitgoalscategory</string>
		</dict>
		<key>userLocLabel</key>
		<string>Visit Goal 3</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_vg3achieved</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Boolean</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>VG3 Achieved</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>21</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>0</key>
			<string>No</string>
			<key>1</key>
			<string>Yes</string>
		</dict>
		<key>userLocLabel</key>
		<string>VG3 Achieved</string>
	</dict>
	<dict>
		<key>name</key>
		<string></string>
		<key>title</key>
		<string>Notes</string>
		<key>type</key>
		<string>section</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>notescontrol</string>
		<key>fieldType</key>
		<integer>10</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>userLocLabel</key>
		<string>Notes</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Next Steps</string>
		<key>type</key>
		<string>group</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tab_5_section_1</string>
		<key>title</key>
		<string>SCHEDULE</string>
		<key>type</key>
		<string>section</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string>1</string>
		<key>dataFieldName</key>
		<string>new_nextvisitplanned</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>DateTime</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>format</key>
			<string>DateAndTime</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>Next visit planned</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>7</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>userLocLabel</key>
		<string>Next visit should be planned on:</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string></string>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_nextmainvisitgoal</string>
		<key>defaultViewId</key>
		<string></string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>Recommended</string>
			<key>userLocLabel</key>
			<string>Next Visit Goal 1</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>nov_visitgoalscategoryid</string>
			<key>primaryField</key>
			<string>nov_goal</string>
			<key>tableLiee</key>
			<string>nov_visitgoalscategory</string>
		</dict>
		<key>userLocLabel</key>
		<string>Next Visit Goal 1</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string></string>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_nextvisitgoal2</string>
		<key>defaultViewId</key>
		<string></string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>Next Visit Goal 2</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>nov_visitgoalscategoryid</string>
			<key>primaryField</key>
			<string>nov_goal</string>
			<key>tableLiee</key>
			<string>nov_visitgoalscategory</string>
		</dict>
		<key>userLocLabel</key>
		<string>Next Visit Goal 2</string>
	</dict>
	<dict>
		<key>allowfilteroff</key>
		<string></string>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_nextvisitgoal3</string>
		<key>defaultViewId</key>
		<string></string>
		<key>dependentAttributeName</key>
		<string></string>
		<key>dependentAttributeType</key>
		<string></string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Lookup</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>Next Visit Goal 3</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>2</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>tableLiee</key>
		<dict>
			<key>aggregate</key>
			<string>non</string>
			<key>pk</key>
			<string>nov_visitgoalscategoryid</string>
			<key>primaryField</key>
			<string>nov_goal</string>
			<key>tableLiee</key>
			<string>nov_visitgoalscategory</string>
		</dict>
		<key>userLocLabel</key>
		<string>Next Visit Goal 3</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Skills development form</string>
		<key>type</key>
		<string>group</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tab_3_section_1</string>
		<key>title</key>
		<string>Section</string>
		<key>type</key>
		<string>section</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_1relationshipwithcustomer</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Picklist</string>
			<key>defaultValue</key>
			<string>-1</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>1 Relationship with customer</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>1</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>181910000</key>
			<string>Understanding of skills required</string>
			<key>181910001</key>
			<string>Implementation of skills required</string>
			<key>181910002</key>
			<string>Basic implementation of skills</string>
			<key>181910003</key>
			<string>Satisfying implementation of skills</string>
			<key>181910004</key>
			<string>Very good implementation of skills</string>
		</dict>
		<key>userLocLabel</key>
		<string>1 Relationship with customer</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_1relationshipwithcustomerhelp</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>String</string>
			<key>formDisabled</key>
			<string>true</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>1 Relationship with customer - Help</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>0</integer>
		<key>formDisabled</key>
		<string>true</string>
		<key>userLocLabel</key>
		<string>Help</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_2bestcustomerservice</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Picklist</string>
			<key>defaultValue</key>
			<string>-1</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>2 Best Customer Service</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>1</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>181910000</key>
			<string>Understanding of skills required</string>
			<key>181910001</key>
			<string>Implementation of skills required</string>
			<key>181910002</key>
			<string>Basic implementation of skills</string>
			<key>181910003</key>
			<string>Satisfying implementation of skills</string>
			<key>181910004</key>
			<string>Very good implementation of skills</string>
		</dict>
		<key>userLocLabel</key>
		<string>2 Best Customer Service</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_2bestcustomerservicehelp</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>String</string>
			<key>formDisabled</key>
			<string>true</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>2 Best Customer Service - Help</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>0</integer>
		<key>formDisabled</key>
		<string>true</string>
		<key>userLocLabel</key>
		<string>Help</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_3discussionagenda</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Picklist</string>
			<key>defaultValue</key>
			<string>-1</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>3 Discussion Agenda</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>1</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>181910000</key>
			<string>Understanding of skills required</string>
			<key>181910001</key>
			<string>Implementation of skills required</string>
			<key>181910002</key>
			<string>Basic implementation of skills</string>
			<key>181910003</key>
			<string>Satisfying implementation of skills</string>
			<key>181910004</key>
			<string>Very good implementation of skills</string>
		</dict>
		<key>userLocLabel</key>
		<string>3 Discussion Agenda</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_3discussionagendahelp</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>String</string>
			<key>formDisabled</key>
			<string>true</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>3 Discussion Agenda - help</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>0</integer>
		<key>formDisabled</key>
		<string>true</string>
		<key>userLocLabel</key>
		<string>Help</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_4investigationofissuesneeds</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Picklist</string>
			<key>defaultValue</key>
			<string>-1</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>4 Investigation of Issues &amp; Needs</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>1</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>181910000</key>
			<string>Understanding of skills required</string>
			<key>181910001</key>
			<string>Implementation of skills required</string>
			<key>181910002</key>
			<string>Basic implementation of skills</string>
			<key>181910003</key>
			<string>Satisfying implementation of skills</string>
			<key>181910004</key>
			<string>Very good implementation of skills</string>
		</dict>
		<key>userLocLabel</key>
		<string>4 Investigation of Issues &amp; Needs</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_4investigationofissuesneedshelp</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>String</string>
			<key>formDisabled</key>
			<string>true</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>4 Investigation of Issues &amp; Needs - Help</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>0</integer>
		<key>formDisabled</key>
		<string>true</string>
		<key>userLocLabel</key>
		<string>Help</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_5presentationofbenefits</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Picklist</string>
			<key>defaultValue</key>
			<string>-1</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>5 Presentation of Benefits</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>1</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>181910000</key>
			<string>Understanding of skills required</string>
			<key>181910001</key>
			<string>Implementation of skills required</string>
			<key>181910002</key>
			<string>Basic implementation of skills</string>
			<key>181910003</key>
			<string>Satisfying implementation of skills</string>
			<key>181910004</key>
			<string>Very good implementation of skills</string>
		</dict>
		<key>userLocLabel</key>
		<string>5 Presentation of Benefits</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_5presentationofbenefitshelp</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>String</string>
			<key>formDisabled</key>
			<string>true</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>5 Presentation of Benefits - Help</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>0</integer>
		<key>formDisabled</key>
		<string>true</string>
		<key>userLocLabel</key>
		<string>Help</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_6conclusionofdiscussion</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>Picklist</string>
			<key>defaultValue</key>
			<string>-1</string>
			<key>formDisabled</key>
			<string>false</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>6 Conclusion of Discussion</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>1</integer>
		<key>formDisabled</key>
		<string>false</string>
		<key>pickList</key>
		<dict>
			<key>181910000</key>
			<string>Understanding of skills required</string>
			<key>181910001</key>
			<string>Implementation of skills required</string>
			<key>181910002</key>
			<string>Basic implementation of skills</string>
			<key>181910003</key>
			<string>Satisfying implementation of skills</string>
			<key>181910004</key>
			<string>Very good implementation of skills</string>
		</dict>
		<key>userLocLabel</key>
		<string>6 Conclusion of Discussion</string>
	</dict>
	<dict>
		<key>colspan</key>
		<string></string>
		<key>dataFieldName</key>
		<string>nov_6conclusionofdiscussionhelp</string>
		<key>fieldInfos</key>
		<dict>
			<key>attributeType</key>
			<string>String</string>
			<key>formDisabled</key>
			<string>true</string>
			<key>requiredLevel</key>
			<string>None</string>
			<key>userLocLabel</key>
			<string>6 Conclusion of Discussion - Help</string>
			<key>validForAdvancedFind</key>
			<string>true</string>
			<key>validForCreate</key>
			<string>true</string>
			<key>validForRead</key>
			<string>true</string>
			<key>validForUpdate</key>
			<string>true</string>
		</dict>
		<key>fieldType</key>
		<integer>0</integer>
		<key>formDisabled</key>
		<string>true</string>
		<key>userLocLabel</key>
		<string>Help</string>
	</dict>
</array>
</plist>
