<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string></string>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>allowfilteroff</key>
				<string></string>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>ownerid</string>
				<key>dependentAttributeName</key>
				<string></string>
				<key>dependentAttributeType</key>
				<string></string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Owner</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>SystemRequired</string>
					<key>userLocLabel</key>
					<string>Owner</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>3</integer>
				<key>formDisabled</key>
				<string></string>
				<key>tableLiee</key>
				<dict>
					<key>aggregate</key>
					<string>oui</string>
					<key>tablesLiees</key>
					<dict>
						<key>systemuser</key>
						<dict>
							<key>pk</key>
							<string>systemuserid</string>
							<key>primaryField</key>
							<string>fullname</string>
						</dict>
						<key>team</key>
						<dict>
							<key>pk</key>
							<string>teamid</string>
							<key>primaryField</key>
							<string>name</string>
						</dict>
					</dict>
				</dict>
				<key>userLocLabel</key>
				<string>Owner</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>createdon</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>DateTime</string>
					<key>format</key>
					<string>DateAndTime</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Created On</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>false</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>false</string>
				</dict>
				<key>fieldType</key>
				<integer>7</integer>
				<key>formDisabled</key>
				<string>true</string>
				<key>userLocLabel</key>
				<string>Created On</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>modifiedon</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>DateTime</string>
					<key>format</key>
					<string>DateAndTime</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Modified On</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>false</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>false</string>
				</dict>
				<key>fieldType</key>
				<integer>7</integer>
				<key>formDisabled</key>
				<string>true</string>
				<key>userLocLabel</key>
				<string>Modified On</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>General</string>
		<key>sectionLogicalName</key>
		<string>name</string>
		<key>sectionName</key>
		<string>INFORMATION</string>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>firstname</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>String</string>
					<key>requiredLevel</key>
					<string>Recommended</string>
					<key>userLocLabel</key>
					<string>First Name</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>0</integer>
				<key>formDisabled</key>
				<string></string>
				<key>userLocLabel</key>
				<string>First Name</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>telephone1</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>String</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Business Phone</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>13</integer>
				<key>formDisabled</key>
				<string></string>
				<key>userLocLabel</key>
				<string>Business Phone</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>lastname</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>String</string>
					<key>requiredLevel</key>
					<string>ApplicationRequired</string>
					<key>userLocLabel</key>
					<string>Last Name</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>0</integer>
				<key>formDisabled</key>
				<string></string>
				<key>userLocLabel</key>
				<string>Last Name</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>mobilephone</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>String</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Mobile Phone</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>13</integer>
				<key>formDisabled</key>
				<string></string>
				<key>userLocLabel</key>
				<string>Mobile Phone</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>allowfilteroff</key>
				<string></string>
				<key>colspan</key>
				<string>1</string>
				<key>dataFieldName</key>
				<string>parentcustomerid</string>
				<key>dependentAttributeName</key>
				<string></string>
				<key>dependentAttributeType</key>
				<string></string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Customer</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Company Name</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>3</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>tableLiee</key>
				<dict>
					<key>aggregate</key>
					<string>oui</string>
					<key>tablesLiees</key>
					<dict>
						<key>account</key>
						<dict>
							<key>pk</key>
							<string>accountid</string>
							<key>primaryField</key>
							<string>name</string>
						</dict>
						<key>contact</key>
						<dict>
							<key>pk</key>
							<string>contactid</string>
							<key>primaryField</key>
							<string>fullname</string>
						</dict>
					</dict>
				</dict>
				<key>userLocLabel</key>
				<string>Company Name</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>emailaddress1</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>String</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Email</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>12</integer>
				<key>formDisabled</key>
				<string></string>
				<key>userLocLabel</key>
				<string>Email</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>allowfilteroff</key>
				<string></string>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>nov_titleid</string>
				<key>defaultViewId</key>
				<string></string>
				<key>dependentAttributeName</key>
				<string></string>
				<key>dependentAttributeType</key>
				<string></string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Lookup</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>ApplicationRequired</string>
					<key>userLocLabel</key>
					<string>Title</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>2</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>tableLiee</key>
				<dict>
					<key>aggregate</key>
					<string>non</string>
					<key>pk</key>
					<string>nov_contacttitleid</string>
					<key>primaryField</key>
					<string>nov_name</string>
					<key>tableLiee</key>
					<string>nov_contacttitle</string>
				</dict>
				<key>userLocLabel</key>
				<string>Title</string>
			</dict>
			<dict>
				<key>allowfilteroff</key>
				<string></string>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>nov_veterinarianspecialtyid</string>
				<key>defaultViewId</key>
				<string></string>
				<key>dependentAttributeName</key>
				<string></string>
				<key>dependentAttributeType</key>
				<string></string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Lookup</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Veterinarian Specialty</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>2</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>tableLiee</key>
				<dict>
					<key>aggregate</key>
					<string>non</string>
					<key>pk</key>
					<string>nov_contactveterinarianspecialtyid</string>
					<key>primaryField</key>
					<string>nov_veterinarianspecialty</string>
					<key>tableLiee</key>
					<string>nov_contactveterinarianspecialty</string>
				</dict>
				<key>userLocLabel</key>
				<string>Veterinarian Specialty</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>allowfilteroff</key>
				<string></string>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>nov_jobtitleid</string>
				<key>defaultViewId</key>
				<string></string>
				<key>dependentAttributeName</key>
				<string></string>
				<key>dependentAttributeType</key>
				<string></string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Lookup</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>Recommended</string>
					<key>userLocLabel</key>
					<string>Job Title</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>2</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>tableLiee</key>
				<dict>
					<key>aggregate</key>
					<string>non</string>
					<key>pk</key>
					<string>nov_contactjobtitleid</string>
					<key>primaryField</key>
					<string>nov_jobtitle</string>
					<key>tableLiee</key>
					<string>nov_contactjobtitle</string>
				</dict>
				<key>userLocLabel</key>
				<string>Job Title</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>birthdate</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>DateTime</string>
					<key>format</key>
					<string>DateOnly</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Unused - Birthday</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>6</integer>
				<key>formDisabled</key>
				<string></string>
				<key>userLocLabel</key>
				<string>Unused - Birthday</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>nov_accounting</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Boolean</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Accounting</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>21</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>pickList</key>
				<dict>
					<key>0</key>
					<string>No</string>
					<key>1</key>
					<string>Yes</string>
				</dict>
				<key>userLocLabel</key>
				<string>Accounting</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>nov_decisionmaker</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Boolean</string>
					<key>formDisabled</key>
					<string>false</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Decision Maker</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>21</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>pickList</key>
				<dict>
					<key>0</key>
					<string>No</string>
					<key>1</key>
					<string>Yes</string>
				</dict>
				<key>userLocLabel</key>
				<string>Decision Maker</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionLogicalName</key>
		<string>general_section_5</string>
		<key>sectionName</key>
		<string>MARKETING</string>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>donotemail</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Boolean</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Do not allow Emails</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>21</integer>
				<key>formDisabled</key>
				<string></string>
				<key>pickList</key>
				<dict>
					<key>0</key>
					<string>Allow</string>
					<key>1</key>
					<string>Do Not Allow</string>
				</dict>
				<key>userLocLabel</key>
				<string>E-mail</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>donotbulkemail</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Boolean</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Do not allow Bulk Emails</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>21</integer>
				<key>formDisabled</key>
				<string></string>
				<key>pickList</key>
				<dict>
					<key>0</key>
					<string>Allow</string>
					<key>1</key>
					<string>Do Not Allow</string>
				</dict>
				<key>userLocLabel</key>
				<string>Bulk E-mail</string>
			</dict>
			<dict>
				<key>colspan</key>
				<string></string>
				<key>dataFieldName</key>
				<string>donotpostalmail</string>
				<key>fieldInfos</key>
				<dict>
					<key>attributeType</key>
					<string>Boolean</string>
					<key>requiredLevel</key>
					<string>None</string>
					<key>userLocLabel</key>
					<string>Do not allow Mails</string>
					<key>validForAdvancedFind</key>
					<string>true</string>
					<key>validForCreate</key>
					<string>true</string>
					<key>validForRead</key>
					<string>true</string>
					<key>validForUpdate</key>
					<string>true</string>
				</dict>
				<key>fieldType</key>
				<integer>21</integer>
				<key>formDisabled</key>
				<string></string>
				<key>pickList</key>
				<dict>
					<key>0</key>
					<string>Allow</string>
					<key>1</key>
					<string>Do Not Allow</string>
				</dict>
				<key>userLocLabel</key>
				<string>Do not allow Mails</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fullwcell</key>
		<string>YES</string>
		<key>sectionName</key>
		<string>VISITS</string>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>chartgridmode</key>
				<string>Grid</string>
				<key>colspan</key>
				<string>3</string>
				<key>dataFieldName</key>
				<string>Visits</string>
				<key>fieldType</key>
				<integer>20</integer>
				<key>formDisabled</key>
				<string></string>
				<key>isUserView</key>
				<string>false</string>
				<key>userLocLabel</key>
				<string>VISITS</string>
				<key>viewId</key>
				<string>{A9C4BA65-5D54-E411-BC4A-005056BB16EA}</string>
				<key>visualizationId</key>
				<string>{2996E01D-1ACD-E211-B5FA-D48564519C0B}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>fullwcell</key>
		<string>YES</string>
		<key>sectionName</key>
		<string>Notes</string>
		<key>sectionTab</key>
		<array>
			<dict>
				<key>colspan</key>
				<string>2</string>
				<key>dataFieldName</key>
				<string>notescontrol</string>
				<key>fieldType</key>
				<integer>10</integer>
				<key>formDisabled</key>
				<string>false</string>
				<key>userLocLabel</key>
				<string>Note Text</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
